# コミット著者の表記を koya <koyablog.1104@gmail.com> に統一する。
# 過去コミットの別アドレス/別名義を正規の identity にマッピングする。
koya <koyablog.1104@gmail.com> <kouya114@outlook.jp>
koya <koyablog.1104@gmail.com> Demo Enviroment <kouya114@outlook.jp>
